<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/product-details.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/header2.css">


    <title>Document</title>
</head>
<body>
    <%- include("partials/header2") %>
    <%- include("partials/nav") %>
    <div class="container mt-3">
        <div class="row">
            <div class="col-12">
                    <div class="card mb-3">
                        <div class="row">
                            <div class="col-4">
                                <img src="/images/<%= urun.imageUrl %>" alt="" class="img-fluid">
                            </div>
                            <div class="col-8">
                                <div class="card-body">
                                    <h5 class="card-title"><%= urun.name %></h5>
                                    <p class="card-text"><%= urun.price %></p>
                                    <p>
                                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sit velit enim commodi
                                         soluta culpa rem eligendi unde blanditiis placeat, omnis porro
                                         dolore nihil cupiditate a ipsam eius repudiandae quisquam dolorem?
                                    </p>
                                    <p>
                                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sit velit enim commodi
                                         soluta culpa rem eligendi unde blanditiis placeat, omnis porro
                                         dolore nihil cupiditate a ipsam eius repudiandae quisquam dolorem?
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
    <%- include('partials/footer') %>
    
</body>
</html>